body {
    padding: 15px;
    border: solid 1px #ccc;
    font: 10px;
    font-family: "Helvetica Neue", Helvetica;
   
   
}
#canvas {
	 padding: 15px;
  
    padding-bottom: 15px;
    
 }
.hint {
   margin: 15px;
    font: 8px;
    font-family: "Helvetica Neue", Helvetica;
}

#header, #footer {
  position: absolute;
  top: 0;
}


btn-group {
    padding: 15px;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 10px sans-serif;
}

.node text {
	font-size: 11px;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}